*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    
}




@media screen and (min-width:425px) and (max-width:768px){
    .main1{
        width: 100vw;
        height: auto;
        /* border: 1px solid red; */
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        position: sticky;
        transition-duration: .5s;
        
    
        
    }  
    .logodiv{
        width: 60%;
        
    }
    .inputdiv{
        width: 8%;
        box-sizing: border-box;
        padding-top: 0;

    }
    .input1{
        display: none;
    }
    .iconsdiv{
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
        height: 50px;
        order: -1;
        display: none;

    }
    
    .nav{
        transition: height .5s;
        height: 0vh;
        margin-left: -165px;
        border: none;
        display: none;
    }
    .nav>ul>li{
        float: none;
        width: 100%;
        border: none;
    }
    .nav>ul>li:hover{
        color: orangered;
    }
    
    hr{
        width: 30px;
        height: 3px;
        padding: 4px;
        box-sizing: border-box;
        
    }
    .search1{
        width: 100%;
        margin-left: -0px;
        /* padding: 5px; */
        


    }
    .label1{
        width: 40px;
        height: 39px;
        padding: 3px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    .radio1:checked~.nav{
        height: 50vh; 
        display: block;       
    }
    .radio1{
        display: none;
    }



/* ---------------sc2-------------- */
.sc32{
    /* flex-wrap: wrap; */
    width: 200%;
}
.input4:checked~.sc32{
    margin-left: -50%;
}
.sc321{
    width: 30%;
}
.sc4t2{
    margin-left: 30px;
}
.sc4t3{
    margin-left: 70px;
    width: 90px;
}
.btn1{
    margin-left: 120px;
}
.scndlast2{
    flex-wrap: wrap;
}
.scndimg{
    width: 50%;
}

}

